.App {
  max-width: 600px;
  margin: 0 auto;
}

.TodoList .title {
  text-align: center;
}

.AddTodo {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 60px;
  gap: 10px;
  padding: 10px;
  border-bottom: 1px solid lightgray;
  box-sizing: border-box;
}
